/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/games/bomberman/*
/public/js/laroute.js
/public/wp-content/*
/public/wp-includes/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
